/*Colores definidos*/
:root {
    --principal: #7EB9DB;
    --princlaro: #91DDEA;
    --some: #FFA5D8;
    --subclaro: #BD9DDE;
    --suboscuro: #9579D0;
}
html{
    background: var(--princlaro);
}
.formulario {
    width: 400px;
    display: flex;
    flex-direction: column;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 7px 7px 25px rgba(0, 0, 0, 0.2);
}
nav a {
    display: flex;
    justify-content: end;
}
.boton {
    margin-bottom: 7px;
}
